{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <p>Log in to keep track of your pets and the ones you've found. You must be logged in to look for coincidences in our database. We will reveal your personal data only to registered members who loaded information that matches the one you've given us.</p>

    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <p style="color: red;">{{ alert }}</p>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

{% endblock %}
